getLocalPaths.m # function to set local paths, which will be different per user/OS
**/*.svg # vector graphics files, which will change frequently - I may add them later though
**/*.asv # autosave files