# image files, which will change frequently - I may add them later though
*.svg 
*.png

# MATLAB autosave files
*.asv 

# Data files

*.mat
/data/raw/psychophysics/*
/data/raw/GoPro/*
/data/raw/nanoLambda/*

