[submodule "arc_PsychophysicsAnalysis"]
	path = arc_PsychophysicsAnalysis
	url = https://github.com/da5nsy/arc_PsychophysicsAnalysis
[submodule "hyperspectralAnalysis"]
	path = hyperspectralAnalysis
	url = https://github.com/sussex-colour-group/hyperspectralAnalysis.git
[submodule "imageanalysis"]
	path = imageanalysis
	url = https://github.com/sussex-colour-group/imageanalysis.git
[submodule "nanolambda"]
	path = nanolambda
	url = https://github.com/sussex-colour-group/nanolambda.git
